@model IEnumerable<TuLista.Models.ArticulosConTipo>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <tr>
            <th>Artículo</th>
            <th>Cantidad</th>
            <th>Estado</th>
        </tr>
        @foreach (var a in Model)
        {
            if (a.comprado == true)
            {
                <tr class="success">
                    <td>@a.nombreArticulo</td>
                    <td>
                        @{
                            if (Session["idArticulo"] != null)
                            {
                                if (Session["idArticulo"].ToString() == a.IdArticulo.ToString())
                                {
                                    if (Session["AnadiendoCantidad"] != null)
                                    {
                                        @Html.Action("EditarCantidad")
                                    }
                                    else
                                    {
                                        @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                                    }
                                }
                                else
                                {
                                    @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                                }
                            }
                            else
                            {
                                @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                            }

                        }
                    </td>

                    <td class="success"><img src="~/Imagenes/mcol_tick.png" width="24px" height="24px" /></td>

                </tr>
                            }
                            else
                            {
                                <tr class="danger">
                                    <td>@a.nombreArticulo</td>
                                    <td>
                                        @{
                                            if (Session["idArticulo"] != null)
                                            {
                                                if (Session["idArticulo"].ToString() == a.IdArticulo.ToString())
                                                {
                                                    if (Session["AnadiendoCantidad"] != null)
                                                    {
                                                        @Html.Action("EditarCantidad")
                                                    }
                                                    else
                                                    {
                                                        @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                                                    }
                                                }
                                                else
                                                {
                                                    @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                                                }
                                            }
                                            else
                                            {
                                                @a.cantidad <a href="/Listas/editarCantidadV?idArticulo=@a.IdArticulo">Editar</a>
                                            }

                                        }
                                    </td>

                                    <td><a href="/Listas/MarcarArticuloComoComprado?idArticulo=@a.IdArticulo"><img src="~/Imagenes/mcol_cross.png" width="24px" height="24px" /></a></td>

                                </tr>
                                                }
                                            }
    </table>
</div>
